*{
    box-sizing: border-box;
    margin:0;
    
}
ul{
    padding-left:0;
    margin-bottom:0;
}
li{
    list-style:none;
}
span{
    font-weight:bold;
}
.page-wrapper{
    height:100vh;
}
.page-wrapper > .container-fluid{
    height:100%;
    
}
.page-wrapper > .container-fluid > .row{
    height:100%;
}
.col-lg-7{
    background-image:url('/images/CRM-SignIn/Group\ 15.png');
    background-color:blue;
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: 35% 66%;
    color: white;
    
}
.left-text{
    font-weight:bold;
    font-size:1.5rem;
    text-align:center;
    width:fit-content;
    padding:4rem 2rem;
}
.left-text p:nth-of-type(2){
    margin-bottom:2rem;
}
.left-text .theme-btn{
    margin-top:2rem;
}
.theme-btn{
    color:white;
    border:3px solid white;
    border-radius:100px;
    padding:.5rem 4rem;
    text-decoration:none;
    font-weight:bold;
    transition:1s ease-in-out;
}
.theme-btn:hover{
    background-color:white;
    border-color:blue;
    color:blue;
}
.col-lg-5{
    justify-content: center;
    gap:2rem;
    text-align:center;
    display:flex;
    flex-direction:column;
}
form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:3rem;
}
form input{
    padding:1rem 4rem;
    border-radius:75px;
    border:1px solid #878787;
    width:100%;
}
form input[type="submit"]{
    background-color:blue;
    color:white;
    font-weight:bold;
    width:auto;
    transition:1s ease-in-out;
}
form input[type="submit"]:hover{
    background-color:white;
    border:1px solid blue;
    color:blue;
}
.social-list{
    font-size:2rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:4rem;
    padding-top:2rem;   
}
.social-list li a{
    color:black;
    border:.5px solid #878787;
    border-radius:50%;
    padding:.5rem 1rem;
}
.input-box{
    position:relative;
}
.input-box i{
    position:absolute;
    top:1.5rem;
    left:5%;
}
@media screen and (min-width:992px){
    .col-lg-7{
        clip-path: ellipse(90% 108% at 10% -8%);    
    }
}
@media screen and (max-width:991px){
    .left-text{
        width:100%;
    }
    .col-lg-5{
        padding:6rem 0;
    }
    .social-list{
        gap:2rem;
    }
}